<v-app>
  <!-- Header -->
  <v-app-bar app color="primary">
    <v-app-bar-nav-icon @click="appStore.toggleDrawer"></v-app-bar-nav-icon>
    <v-toolbar-title>{{ appStore.title }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon @click="toggleTheme">
      <v-icon>{{ themeStore.themeIcon }}</v-icon>
    </v-btn>
  </v-app-bar>

  <!-- Navigation Drawer (側邊欄) -->
  <v-navigation-drawer v-model="appStore.drawer" app>
    <div v-for="account in appStore.accounts" :key="account.id" class="pa-2">
      <div>{{ account.nickname }}</div>
      <div>{{ account.id }}</div>
      <div>{{ account.friendList }}</div>
      <div>{{ account.lastUpdateAt }}</div>
      <div class="d-flex ga-2 flex-wrap">
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isLoggingIn"
          @click="appStore.logout(account)"
        >
          登出
        </v-btn>
        <v-btn
          v-if="!account.isLogin"
          color="gray"
          :loading="account.isLoggingIn"
          @click="appStore.login(account)"
        >
          登入
        </v-btn>
        <v-btn
          v-if="account.isApprove"
          color="primary"
          :loading="account.isApproving"
          @click="appStore.stopApprove(account)"
        >
          停止加好友
        </v-btn>
        <v-btn
          v-if="!account.isApprove && account.isLogin"
          color="gray"
          :loading="account.isApproving"
          @click="appStore.approve(account)"
        >
          開始加好友
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="warning"
          :loading="account.isDeletingFriends"
          @click="appStore.deleteAllFriends(account)"
        >
          刪除好友
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isGettingFeedList"
          @click="
            appStore.showType = 'feedList';
            feedStore.clearAll();
            appStore.selectAccount(account);
            feedStore.getFeedList(account);
          "
        >
          得卡列表
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isGettingPresentBoxList"
          @click="
            appStore.showType = 'presentBoxList';
            presentBoxStore.clearAll();
            appStore.selectAccount(account);
            presentBoxStore.getPresentBoxList(account);
          "
        >
          禮物盒
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="eventBattleStore.isGettingInfo"
          @click="
            appStore.showType = 'eventBattle'; 
            eventBattleStore.clearAll(); 
            appStore.selectAccount(account);
            eventBattleStore.getInfo(account);
          "
        >
          活動戰鬥
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="packStore.isGettingPackPower"
          @click="
            appStore.showType = 'pack';
            packStore.clearAll();
            appStore.selectAccount(account);
            packStore.getPackPower(account);
          "
        >
          開包
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="itemShopStore.isRunning"
          @click="itemShopStore.runPurchase(account)"
        >
          每日禮物
        </v-btn>
      </div>
    </div>
  </v-navigation-drawer>

  <!-- Main Content -->
  <v-main>
    <v-container fluid>
      <!-- 目前帳號 -->
      <div v-if="appStore.selectedAccount">
        <div>
          目前帳號: {{ appStore.selectedAccount.nickname ||
          appStore.selectedAccount.id }}
        </div>
      </div>
      <!-- 得卡列表 -->
      <div
        class="d-flex flex-column ga-2"
        v-if="appStore.showType === 'feedList'"
      >
        <div>下次更新時間: {{ feedStore.renewAfter }}</div>
        <div class="d-flex ga-2 align-center" v-if="feedStore.challengePower">
          <div>得卡力: {{ feedStore.challengePower.amount }}</div>
          <div>自動回復: {{ feedStore.challengePower.nextAutoHealedAt }}</div>
          <div
            v-if="feedStore.challengePower.amount < feedStore.challengePower.autoHealLimit"
          >
            <v-btn
              color="primary"
              :loading="feedStore.isHealingChallengePower"
              @click="feedStore.healChallengePower(appStore.selectedAccount)"
            >
              補一個(沙漏: {{feedStore.challengePower.needCountOfLarge}})
            </v-btn>
          </div>
        </div>
        <div
          v-for="feed in feedStore.feedList"
          :key="feed.someoneFeedId"
          class="pa-2"
          :class="{ 'border-lg border-primary border-opacity-100 rounded-xl': feed.isFriend }"
        >
          <div class="d-flex ga-2 align-center">
            <div>({{ feed.challengeInfo.requireFeedStamina }}力)</div>
            <div>{{ feed.nickname }}</div>
          </div>
          <div v-if="feed.disable">已抽</div>
          <div v-else-if="feed.challengeInfo.endAt.seconds * 1000 < Date.now()">
            已過期
          </div>
          <div class="d-flex ga-2 align-center" v-else>
            <div>
              到期： {{ new Date(feed.challengeInfo.endAt.seconds *
              1000).toLocaleString() }}
            </div>
            <div
              v-if="feedStore.challengePower.amount >= feed.challengeInfo.requireFeedStamina"
            >
              <v-btn
                color="info"
                :loading="feedStore.isFeedSnooping"
                @click="
                  appStore.showType = 'feedSnoop';
                  feedStore.clearFeedSnoopResult();
                  feedStore.feedSnoop(
                    appStore.selectedAccount,
                    feed.someoneFeedId,
                    feed.challengeInfo.usedForRevivalChallengePower
                  )
                "
              >
                抽他
              </v-btn>
            </div>
          </div>
          <div class="d-flex ga-2 mt-2 align-center">
            <div
              v-for="(card, index) in feed.cardsList"
              :key="`${card.cardId}-${index}`"
            >
              <img
                :src="`https://car-fs.gagu.dev/PackViewer/images/${card.cardId}.png`"
                width="100"
                :class="{ 
                  'border-lg border-primary border-opacity-100 rounded-xl': card.disable,
                  'border-lg border-warning border-opacity-100 rounded-xl': card.isSnooped
                }"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- 得卡 -->
      <div v-if="appStore.showType === 'feedSnoop'">
        <div>得卡</div>
        <div v-if="feedStore.feedSnoopResult">
          <div class="d-flex ga-2 mt-2 align-center">
            <img
              v-for="(card, index) in feedStore.feedSnoopResult.contents.cardsList"
              :key="`${card.cardId}-${index}`"
              :src="`https://car-fs.gagu.dev/PackViewer/images/${card.cardId}.png`"
              width="100"
              :class="{ 
                'border-lg border-primary border-opacity-100 rounded-xl': card.disable,
                'border-lg border-warning border-opacity-100 rounded-xl': card.isSnooped
              }"
            />
          </div>
          <div
            v-if="!feedStore.feedChallengeResult && feedStore.feedSnoopResult.contents.cardsList.some(card => card.isSnooped)"
            class="d-flex ga-2 mt-2 align-center"
          >
            <v-btn
              color="warning"
              :loading="feedStore.isFeedChallenging"
              @click="feedStore.feedChallenge(appStore.selectedAccount, feedStore.feedSnoopResult.someoneFeedId, 1)"
            >
              就這張
            </v-btn>
            <v-btn
              color="primary"
              :loading="feedStore.isFeedChallenging"
              @click="feedStore.feedChallenge(appStore.selectedAccount, feedStore.feedSnoopResult.someoneFeedId, 2)"
            >
              另一張
            </v-btn>
          </div>
          <div
            v-if="feedStore.feedChallengeResult"
            class="d-flex ga-2 mt-2 align-center"
          >
            <div>得卡結果</div>
            <img
              v-for="(card, index) in feedStore.feedChallengeResult"
              :key="`${card.cardId}-${index}`"
              :src="`https://car-fs.gagu.dev/PackViewer/images/${card.cardId}.png`"
              width="100"
            />
          </div>
        </div>
      </div>
      <!-- 禮物盒 -->
      <div v-if="appStore.showType === 'presentBoxList'">
        <div>
          禮物盒
          <v-btn
            color="primary"
            :loading="presentBoxStore.isReceivingPresentBox"
            @click="
              presentBoxStore.clearReceivePresentBoxResult();
              presentBoxStore.receivePresentBox(
                appStore.selectedAccount,
                presentBoxStore.canBatchReceivePresentBoxList
              )
            "
          >
            領取所有
          </v-btn>
        </div>
        <div
          v-for="presentBox in presentBoxStore.presentBoxList"
          :key="presentBox.presentId"
          class="pa-2 d-flex ga-2 align-center"
        >
          <div v-if="presentBox.currency?.type === 3">商店票</div>
          <div v-else-if="presentBox.pack">是個包</div>
          <div v-else>不知道是什麼</div>
          <div>
            到期時間:
            <span> {{ presentBox.expiredAt }} </span>
          </div>
          <div>
            <v-btn
              color="primary"
              :loading="presentBoxStore.isReceivingPresentBox"
              @click="
                presentBoxStore.clearReceivePresentBoxResult();
                presentBoxStore.receivePresentBox(
                  appStore.selectedAccount,
                  [presentBox.presentId]
                )
              "
            >
              領取
            </v-btn>
          </div>
        </div>
        <div>領取結果</div>
        <div v-if="presentBoxStore.receivePresentBoxResult.result" class="pa-2">
          <div>
            領取結果:
            <span>
              {{ presentBoxStore.receivePresentBoxResult.result.isSuccesse }}
            </span>
          </div>
          <div
            v-if="presentBoxStore.receivePresentBoxResult.result.itemAcquisitionResult?.acquiredItems?.cardInstancesList"
          >
            <img
              v-for="cardInstance in presentBoxStore.receivePresentBoxResult.result.itemAcquisitionResult.acquiredItems.cardInstancesList"
              :src="`https://car-fs.gagu.dev/PackViewer/images/${cardInstance.cardInstance.cardId}.png`"
              width="100"
            />
          </div>
        </div>
        <div v-if="presentBoxStore.receivePresentBoxResult.resultsList">
          <div
            v-for="result in presentBoxStore.receivePresentBoxResult.resultsList"
            :key="result.presentId"
            class="pa-2"
          >
            <div>presentId: {{ result.presentId }}</div>
            <div>isSuccesse: {{ result.isSuccesse }}</div>
          </div>
        </div>
      </div>
      <!-- 事件戰鬥 -->
      <div v-if="appStore.showType === 'eventBattle'">
        <div>活動戰鬥</div>
        <div>
          <div>排組</div>
          <v-radio-group v-model="eventBattleStore.myDeckId" inline>
            <v-radio
              v-for="deck in eventBattleStore.deckList"
              :key="deck.deckId"
              :label="deck.deckName"
              :value="deck.deckId"
            ></v-radio>
          </v-radio-group>
        </div>
        <div v-if="eventBattleStore.eventPower">
          <div class="d-flex ga-2 align-center">
            <div>
              戰鬥力: {{ eventBattleStore.eventPower.eventPower.amount }}
            </div>
            <div>
              自動回復: {{
              eventBattleStore.eventPower.eventPower.nextAutoHealedAt }}
            </div>
          </div>
          <div class="d-flex ga-2 align-center">
            <v-btn
              v-for="eventId in eventBattleStore.eventPower.event.ids"
              :key="eventId"
              color="primary"
              :loading="eventBattleStore.isBattleRunning"
              @click="eventBattleStore.runBattle(appStore.selectedAccount, eventId)"
            >
              {{ eventId }}
            </v-btn>
          </div>
        </div>
      </div>
      <!-- 開包 -->
      <div v-if="appStore.showType === 'pack'">
        <div>開包</div>
        <div v-if="packStore.packPower">
          <div
            v-for="packPower in packStore.packPower.packPower.packPowersList"
            :key="packPower.packPowerId"
            class="d-flex ga-2 align-center"
          >
            <div>
              {{ packPower.packPowerId === 'PACK_POWER_PREMIUM' ? '尊貴' :
              '普通' }}開包力: {{ packPower.amount }}
            </div>
            <div>自動回復: {{ packPower.nextAutoHealedAt }}</div>
          </div>
          <div
            v-if="packStore.packPower.packPower.amount >= 1"
            class="d-flex ga-2 align-center flex-wrap"
          >
            <v-btn
              v-for="pack in packStore.packPower.pack"
              :key="pack.packId"
              color="primary"
              :loading="packStore.isOpeningPack"
              @click="packStore.openPack(appStore.selectedAccount, pack.packId, pack.productId)"
            >
              {{ pack.label }}
            </v-btn>
          </div>
        </div>
        <div v-if="packStore.openPackResult">
          <div>開包結果</div>
          <div class="d-flex ga-2 mt-2 align-center">
            <img
              v-for="card in packStore.openPackResult.cardsList"
              :key="card.cardId"
              :src="`https://car-fs.gagu.dev/PackViewer/images/${card.cardInstance.cardId}.png`"
              width="100"
            />
          </div>
        </div>
      </div>
    </v-container>
  </v-main>
</v-app>
