<v-app>
  <!-- Header -->
  <v-app-bar app color="primary">
    <v-app-bar-nav-icon @click="appStore.toggleDrawer"></v-app-bar-nav-icon>
    <v-toolbar-title>{{ appStore.title }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon @click="toggleTheme">
      <v-icon>{{ themeStore.themeIcon }}</v-icon>
    </v-btn>
  </v-app-bar>

  <!-- Navigation Drawer (側邊欄) -->
  <v-navigation-drawer v-model="appStore.drawer" app>
    <div v-for="account in appStore.accounts" :key="account.id" class="pa-2">
      <div>{{ account.nickname }}</div>
      <div>{{ account.id }}</div>
      <div>{{ account.friendList }}</div>
      <div>{{ account.lastUpdateAt }}</div>
      <div class="d-flex ga-2 flex-wrap">
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isLoggingIn"
          @click="appStore.logout(account)"
        >
          登出
        </v-btn>
        <v-btn
          v-if="!account.isLogin"
          color="gray"
          :loading="account.isLoggingIn"
          @click="appStore.login(account)"
        >
          登入
        </v-btn>
        <v-btn
          v-if="account.isApprove"
          color="primary"
          :loading="account.isApproving"
          @click="appStore.stopApprove(account)"
        >
          停止加好友
        </v-btn>
        <v-btn
          v-if="!account.isApprove"
          color="gray"
          :loading="account.isApproving"
          @click="appStore.approve(account)"
        >
          開始加好友
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="warning"
          :loading="account.isDeletingFriends"
          @click="appStore.deleteAllFriends(account)"
        >
          刪除所有好友
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isGettingFeedList"
          @click="
            appStore.showType = 'feedList';
            appStore.clearFeedList();
            appStore.selectAccount(account);
            appStore.getFeedList(account);
          "
        >
          取得得卡列表
        </v-btn>
        <v-btn
          v-if="account.isLogin"
          color="info"
          :loading="account.isGettingPresentBoxList"
          @click="
            appStore.showType = 'presentBoxList';
            presentBoxStore.clearPresentBoxList();
            appStore.selectAccount(account);
            presentBoxStore.getPresentBoxList(account);
          "
        >
          取得禮物盒
        </v-btn>
      </div>
    </div>
  </v-navigation-drawer>

  <!-- Main Content -->
  <v-main>
    <v-container fluid>
      <!-- 目前帳號 -->
      <div v-if="appStore.selectedAccount">
        <div>
          目前帳號: {{ appStore.selectedAccount.nickname ||
          appStore.selectedAccount.id }}
        </div>
      </div>
      <!-- 得卡 -->
      <div
        class="d-flex flex-column ga-2"
        v-if="appStore.showType === 'feedList'"
      >
        <div>下次更新時間: {{ appStore.feedList.renewAfter }}</div>
        <div
          v-for="feed in appStore.feedList.list"
          :key="feed.someoneFeedId"
          class="pa-2"
          :class="{ 'border-lg border-primary border-opacity-100 rounded-xl': feed.isFriend }"
        >
          <div>{{ feed.nickname }}</div>
          <div>{{ feed.cardIds }}</div>
          <div>{{ feed.isFriend }}</div>
        </div>
      </div>
      <!-- 禮物盒 -->
      <div v-if="appStore.showType === 'presentBoxList'">
        <div>
          禮物盒
          <v-btn
            color="primary"
            :loading="presentBoxStore.isReceivingPresentBox"
            @click="
              presentBoxStore.clearReceivePresentBoxResult();
              presentBoxStore.receivePresentBox(
                appStore.selectedAccount,
                presentBoxStore.canBatchReceivePresentBoxList
              )
            "
          >
            領取所有
          </v-btn>
        </div>
        <div
          v-for="presentBox in presentBoxStore.presentBoxList"
          :key="presentBox.presentId"
          class="pa-2 d-flex ga-2 align-center"
        >
          <div v-if="presentBox.currency?.type === 3">商店票</div>
          <div v-else-if="presentBox.pack">是個包</div>
          <div v-else>不知道是什麼</div>
          <div>
            到期時間:
            <span> {{ presentBox.expiredAt }} </span>
          </div>
          <div>
            <v-btn
              color="primary"
              :loading="presentBoxStore.isReceivingPresentBox"
              @click="
                presentBoxStore.clearReceivePresentBoxResult();
                presentBoxStore.receivePresentBox(
                  appStore.selectedAccount,
                  [presentBox.presentId]
                )
              "
            >
              領取
            </v-btn>
          </div>
        </div>
        <div>領取結果</div>
        <div v-if="presentBoxStore.receivePresentBoxResult.result" class="pa-2">
          <div>
            領取結果:
            <span>
              {{ presentBoxStore.receivePresentBoxResult.result.isSuccesse }}
            </span>
          </div>
          <div
            v-if="presentBoxStore.receivePresentBoxResult.result.itemAcquisitionResult?.acquiredItems?.cardInstancesList"
          >
            <img
              v-for="cardInstance in presentBoxStore.receivePresentBoxResult.result.itemAcquisitionResult.acquiredItems.cardInstancesList"
              :src="`https://car-fs.gagu.dev/PackViewer/images/${cardInstance.cardInstance.cardId}.png`"
              width="100"
            />
          </div>
        </div>
        <div v-if="presentBoxStore.receivePresentBoxResult.resultsList">
          <div
            v-for="result in presentBoxStore.receivePresentBoxResult.resultsList"
            :key="result.presentId"
            class="pa-2"
          >
            <div>presentId: {{ result.presentId }}</div>
            <div>isSuccesse: {{ result.isSuccesse }}</div>
          </div>
        </div>
      </div>
    </v-container>
  </v-main>
</v-app>
